%h2 Top commenters of the week:
%table
  %h4
    %tr
      %td User
      %td Comments count
  - @top_commenters.each do |top_commenter|
    %tr
      %td= top_commenter.name
      %td= top_commenter.comments_count

  